@model DoctorPageVM
@*
Her klinikte 5 doktor her doktor 1 gün nöbet tutar
herkes 8-16 arası çalışır. *@

<div style="border-radius: 10px; overflow: hidden; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); background-color: #ffffff;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Doktor Adı Soyadı</th>
                <th scope="col">Poliklinik</th>
                <th scope="col">Anabilim Dalı</th>
                <th scope="col">Cinsiyeti</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Doctors)
            {
                <tr>
                    <td>@item.DoctorName @item.DoctorSurname</td>
                    <td>@item.Policlinic.PoliclinicName</td>
                    <td>@item.Policlinic.Department.DepartmentName</td>
                    <td>
                        @if (item.Gender)
                        {
                            @:<text>Kadın</text>
                        }
                        else
                        {
                            @:Erkek
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<center>
    <div class="bg-warning p-2 rounded mt-3 shadow-lg" style="--bs-bg-opacity: .50;">

        <form class="opacity-100" style="width: 50%;" asp-action="addDoctor" asp-controller="Doctor" asp-area="yonetimPaneli">
            <div class="mb-3">
                <label for="name" class="form-label fw-bold">Ad</label>
                <input type="text" class="form-control" asp-for="@Model.Doctor.DoctorName">
                <span asp-validation-for="@Model.Doctor.DoctorName"></span>
            </div>
            <div class="mb-3">
                <label for="surname" class="form-label fw-bold">Soyad</label>
                <input type="text" class="form-control" asp-for="@Model.Doctor.DoctorSurname">
                <span asp-validation-for="@Model.Doctor.DoctorSurname"></span>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label fw-bold">Cinsiyet</label>
                <select id="gender" class="form-select" asp-for="@Model.Doctor.Gender">
                    <option value="0">Erkek</option>
                    <option value="1">Kadın</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="policlinic" class="form-label fw-bold">Poliklinik</label>
                <select id="policlinic" class="form-select" asp-for="@Model.Doctor.PoliclinicId">
                    @foreach (var item in Model.Policlinics)
                    {
                        <option value="@item.PoliclinicId">@item.PoliclinicName</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-dark mt-3">Doktor Ekle</button>
        </form>
        <span>@TempData["hataMesaji"]</span>
    </div>
</center>