@model PoliclinicDepartmentVM

<!-- Anabilim Dalı Tablosu -->
<table class="table table-light table-striped">
    <thead class="table-dark">
        <tr>
            <th>Anabilim Dalı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Departments)
        {
            <tr>
                <td>@item.DepartmentName</td>
            </tr>
        }
    </tbody>
</table>

<!-- Anabilim Dalı Ekle Formu -->
<div class="bg-white p-2 rounded mt-3" style="--bs-bg-opacity: .75;">
    <form class="opacity-100 mx-auto" style="width: 50%;" asp-action="addDepartment" asp-controller="Policlinic" asp-area="yonetimPaneli">
        <div class="form-group">
            <center> <label class="fw-bolder" for="name"> Anabilim Dalı Adı </label> </center>
            <input type="text" class="form-control" asp-for="@Model.Department.DepartmentName">
        </div>
        <center> <button type="submit" class="btn btn-dark"> Anabilim Dalı Ekle </button> </center>
    </form>
</div>

<!-- Poliklinik Tablosu -->
<table class="table table-light table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <th>Poliklinik</th>
            <th>Anabilim Dalı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Policlinics)
        {
            <tr>
                <td>@item.PoliclinicName</td>
                <td>@item.Department.DepartmentName</td>
            </tr>
        }
    </tbody>
</table>

<!-- Poliklinik Ekle Formu -->
<div class="bg-white p-2 rounded mt-3" style="--bs-bg-opacity: .75;">
    <form class="opacity-100 mx-auto" style="width: 50%;" asp-action="addPoliclinic" asp-controller="Policlinic" asp-area="yonetimPaneli">
        <div class="form-group">
            <center> <label class="fw-bolder" for="name">Poliklinik Adı</label> </center>
            <input type="text" class="form-control" asp-for="@Model.Policlinic.PoliclinicName">
        </div>
        <div class="form-group mt-1">
            <center> <label class="fw-bolder" for="department">Anabilim Dalı</label> </center>
            <select class="form-control" id="policlinic" asp-for="@Model.Policlinic.DepartmentId">
                @foreach (var item in Model.Departments)
                {
                    <option value="@item.DepartmentId">@item.DepartmentName</option>
                }
            </select>
        </div>
        <center> <button type="submit" class="btn btn-dark"> Poliklinik Ekle </button> </center>
    </form>
</div>
