@model List<AppUser>

<table class="table table-light table-striped">
    <thead class="table-dark">
        <tr>
            <th>TC Kimlik No</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Email</th>
            <th>Cinsiyet</th>
            <th>Doğum Tarihi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PatientPersonalId</td>
                <td>@item.PatientName</td>
                <td>@item.PatientSurname</td>
                <td>@item.Email</td>
                <td>
                    @if (item.PatientGender)
                    {
                        @:Kadın
                    }
                    else
                    {
                        @:Erkek
                    }
                </td>
                <td>@item.PatientBirthDay</td>
            </tr>
        }
    </tbody>
</table>