@model CreateAppointmentVM
@{
    int itemCount = 0;
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body" style="background-color: whitesmoke;">
                    <h3 class="card-title text-center mb-4"> @Model.Doctor.DoctorName @Model.Doctor.DoctorSurname @Model.AppointmentDate.ToString("d") </h3>
                    @foreach (var item in Model.creatingAppointments)
                    {
                        if (itemCount % 4 == 0)
                        {
                            @:<div class="row bg-info rounded mb-3">
                        }
                        <div class="col-md-3">
                        @if (item.AppointmentState == "Boş")
                        {
                            <div class="col-md-3">
                                <a asp-route-appointmentId="@item.AppointmentId" asp-action="MakeAppointment" asp-controller="Appointment" class="btn btn-success btn-lg"> @item.AppointmentDate.ToString("HH:mm")</a>
                            </div>
                        }else
                        {
                            <div class="col-md-3">
                                <span class="btn btn-secondary btn-lg"> @item.AppointmentDate.ToString("HH:mm")</span>
                            </div>
                        }
                        </div>

                        itemCount++;

                        if (itemCount % 4 == 0 || itemCount == Model.creatingAppointments.Count)
                        {
                            @:</div>
                        }
                    }

                    @* @foreach (var item in Model.creatingAppointments)
                    {
                        if (item.AppointmentState == "Boş")
                        {
                            <div class="col-md-3">
                                <a asp-route-appointmentId="@item.AppointmentId" asp-action="MakeAppointment" asp-controller="Appointment" class="btn btn-primary"> @item.AppointmentDate.ToString("HH:mm")</a>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-3">
                                <span class="btn btn-secondary"> @item.AppointmentDate.ToString("HH:mm")</span>
                            </div>
                        }
                    } *@
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body" style="background-color: whitesmoke;">
                    <h3 class="card-title text-center mb-4">Randevularım</h3>
                    <div class="table-responsive mt-4">
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Randevu Durumu</th>
                                    <th scope="col">Randevu Tarihi</th>
                                    <th scope="col">Klinik</th>
                                    <th scope="col">Doktor Adı</th>
                                    <th scope="col">Doktor Soyadı</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Appointments)
                                {
                                    <tr>
                                        <td>@item.AppointmentState</td>
                                        <td>@item.AppointmentDate</td>
                                        <td>@item.Policlinic.PoliclinicName</td>
                                        <td>@item.Doctor.DoctorName</td>
                                        <td>@item.Doctor.DoctorSurname</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}