@model CreateAppointmentVM

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body" style="background-color: whitesmoke;">
                    <h3 class="card-title text-center mb-4">Randevu Al</h3>
                    <form asp-action="AppointmentList" asp-controller="Appointment">
                        <div class="form-group mb-2">
                            <label for="policlinic">Klinik: </label>
                            <select id="policlinicId" class="form-control" asp-for="Policlinic.PoliclinicId">
                                @foreach (var item in Model.Policlinics)
                                {
                                    <option value="@item.PoliclinicId">@item.PoliclinicName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group mb-2">
                            <label for="doctorId">Doktor: </label>
                            <select id="doctorId" class="form-control" asp-for="Doctor.DoctorId">
                                @foreach (var item in Model.Doctors)
                                {
                                    <option value="@item.DoctorId">@item.DoctorName @item.DoctorSurname</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="datepicker">Tarih Seçici:</label>
                            <input type="datetime-local" class="flatpickr" id="datetimepicker" asp-for="AppointmentDate">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Randevuları Gör</button>
                        <div class="mt-4">
                            <span class="text-danger font-weight-bold">@TempData["hataMesaji"]</span>
                            <span class="text-success">@TempData["appointmentState"] </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body" style="background-color: whitesmoke;">
                    <h3 class="card-title text-center mb-4">Randevularım</h3>
                    <div class="table-responsive mt-4">
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Randevu Durumu</th>
                                    <th scope="col">Randevu Tarihi</th>
                                    <th scope="col">Klinik</th>
                                    <th scope="col">Doktor Adı</th>
                                    <th scope="col">Doktor Soyadı</th>
                                    <th scope="col"></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Appointments)
                                {
                                    <tr>
                                        <td class="text-success fw-bolder">@item.AppointmentState</td>
                                        <td>@item.AppointmentDate</td>
                                        <td>@item.Policlinic.PoliclinicName</td>
                                        <td>@item.Doctor.DoctorName</td>
                                        <td>@item.Doctor.DoctorSurname</td>
                                        <td><a asp-route-appointmentId="@item.AppointmentId" asp-action="CancelAppointment" asp-controller="Appointment">İptal Et</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        // Bugünün tarihini al
        const today = new Date();

        flatpickr("#datetimepicker", {
            // Bugünden itibaren 3 gün seçilebilir
            minDate: "today",
            maxDate: new Date(new Date().getTime() + 7 * 24 * 60 * 60 * 1000),
            // Hafta sonları seçilemez
            disable: [
                function (date) {
                    return (date.getDay() === 0 || date.getDay() === 6);
                }
            ],
            // Dil seçeneği ve Türkçe ayarları
            locale: {
                firstDayOfWeek: 1, // Haftanın ilk günü pazartesi olarak ayarlandı
                // Diğer dil seçenekleri
            },
            // Tarih formatı
            dateFormat: "d-m-Y",
        });

    </script>

}